internet of things/2024-assignment05-enriicola/nodered.json
[
    {
        "id": "3be6053023b1398d",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "477a1256baac351c",
        "type": "function",
        "z": "3be6053023b1398d",
        "name": "function 1",
        "func": "let contextData = context.get('data') || { temperature: [], humidity: [], pressure: [] };\n\nnode.log(msg.payload);\n\nconst message = msg.payload;\nconst temperature = parseFloat(message.temperature.value);\nconst humidity = parseFloat(message.humidity.value);\nconst pressure = parseFloat(message.pressure.value); // Assuming pressure might be included in your payload\n\ncontextData.temperature.push(temperature);\ncontextData.humidity.push(humidity);\ncontextData.pressure.push(pressure);\n\n\nconst avgTemp = contextData.temperature.reduce((a, b) => a + b, 0) / contextData.temperature.length;\nconst avgHumidity = contextData.humidity.reduce((a, b) => a + b, 0) / contextData.humidity.length;\nconst avgPressure = contextData.pressure.reduce((a, b) => a + b, 0) / contextData.pressure.length;\n\nmsg.payload = {\n    avgTemp: avgTemp.toFixed(2),\n    avgHumidity: avgHumidity.toFixed(2),\n    avgPressure: avgPressure.toFixed(2)\n};\n\ncontext.set('data', contextData);\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 280,
        "wires": [
            [
                "57624de742067b11",
                "3ccb71a537804388",
                "486d40d8870ad9f8"
            ]
        ]
    },
    {
        "id": "57624de742067b11",
        "type": "ui_text",
        "z": "3be6053023b1398d",
        "group": "74c5bb2a042bdbb5",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Average Temperature",
        "format": "{{msg.payload.avgTemp}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 760,
        "y": 200,
        "wires": []
    },
    {
        "id": "3ccb71a537804388",
        "type": "ui_text",
        "z": "3be6053023b1398d",
        "group": "74c5bb2a042bdbb5",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Average Humidity",
        "format": "{{msg.payload.avgHumidity}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 750,
        "y": 280,
        "wires": []
    },
    {
        "id": "486d40d8870ad9f8",
        "type": "ui_text",
        "z": "3be6053023b1398d",
        "group": "74c5bb2a042bdbb5",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Average Pressure",
        "format": "{{msg.payload.avgPressure}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 750,
        "y": 360,
        "wires": []
    },
    {
        "id": "dd407723fa6c3201",
        "type": "mqtt in",
        "z": "3be6053023b1398d",
        "name": "MQTT",
        "topic": "unige/dibris/iot23/assignment05",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "93b2eeaeb22ea01c",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 230,
        "y": 280,
        "wires": [
            [
                "477a1256baac351c",
                "b7d3c8452b5ef250"
            ]
        ]
    },
    {
        "id": "b7d3c8452b5ef250",
        "type": "debug",
        "z": "3be6053023b1398d",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 420,
        "y": 400,
        "wires": []
    },
    {
        "id": "74c5bb2a042bdbb5",
        "type": "ui_group",
        "name": "Home",
        "tab": "c51a1d005da8c5eb",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "93b2eeaeb22ea01c",
        "type": "mqtt-broker",
        "name": "UNIVERSITAMQTT",
        "broker": "mqtt://212.78.1.205",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "3",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "c51a1d005da8c5eb",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]